@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quicksand:wght@300..700&display=swap');

body{
    font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(/assets/images/banner-bk.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;	
    position: sticky;
    color: #fff;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
header>img{
    width: 6rem;
    height: 6rem;
}
.btn-header{
    margin: 2rem;
    padding: 8px;
    border:none ;
    border-radius: 15px;
    font-weight: 700;
    color: black;
    background-color: #51eca8;
}
.btn-header:hover{
    cursor: pointer;
    background-color :rgb(0, 0, 61);
    color: #fff;
}
a{
    height: 10px;
    color: #fff;
    text-decoration: none;
    justify-content: flex-end;
    margin-top: 3rem;
}
a:hover{
    color:#51eca8 ;
}
.title-h{
    margin-bottom: 1.5rem;
}
.title-header{
    
    width: 22rem;
    padding: 3rem;
    
}
h2{
    text-align: center;
    margin-top: 3rem;
}
.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
    flex-wrap: wrap;
}
.card{
    width: 10rem;
    justify-content: center;
    align-items: center;
}
.footer-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.footer-card>P{
    margin-top: 1rem;
    width: 8rem;
}
.take{
    margin-top: 10rem;
    background-image: url(/assets/images/wave22.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-1>img {
    width: 25rem;
    position: relative;
    top: 50px;
}
.container-1>.text-1{
    width: 35rem;
}
.container-1>.text-1>h3{
    margin-bottom: 1rem;
}
.container-1>.text-1>p{
    margin-bottom: 3rem;
}
.bnt-learn-1{
    background-color:rgb(0, 0, 61) ;
    color: #fff;
    padding: 1rem;
    border: none;
    border-radius: 30px;
}
.bnt-learn-1:hover{
    background-color: #51eca8 ;
    cursor: pointer;
    color: #000;
}

.container-2{
    display: flex;
    margin-top: 5rem;
    justify-content: center;
    align-items: center;
}
.container-2>img {
    width: 25rem;
    position: relative;
    margin-right: 10rem;
}
.container-2>.text-2{
    width: 30rem;
}
.container-2>.text-2>h3{
    margin-bottom: 1rem;
}
.container-2>.text-2>p{
    margin-bottom: 3rem;
}
.bnt-learn-2{
    background-color:rgb(0, 0, 61) ;
    color: #fff;
    padding: 1rem;
    border: none;
    border-radius: 30px;
}
.bnt-learn-2:hover{
    background-color: #ffffff ;
    cursor: pointer;
    color: #000;
}
.premium-breads{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
    flex-wrap: wrap;
}
.card-plans{
    padding: 6rem;
    text-align: center;
}
.card-plans>p{
    margin-bottom: 1rem;
}
.title-plans{
    font-size: 2rem;
}
.one-card-p{
    background-color:rgb(0, 0, 61) ;
    color: #fff;
}
.price{
    font-size: 2rem;
}
small{
    font-size: 16px;
}
.card-plans>button{
    position: relative;
    top: 30px;
    padding: 1rem;
    border:none;
    border-radius: 30px;
    border: 1px solid #000;
}
.button-plans{
    position: relative;
    top: 30px;
    padding: 1rem;
    border:none;
    border-radius: 30px;
    background-color:  #51eca8 ;
}

.footer-plans{
    display: flex;
    margin-top: 5rem;
    text-align: center;
    justify-content: space-around;
    background-color: #e1dfdf;
    padding: 3rem;
}
.contac{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}
.container-coontac{
    margin-right: 10rem;
    width: 20rem;
}
.contac-section{
    background-image: url(/assets/images/contact-bk.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    color: #fff;
}
input{
    border: 2px solid  #51eca8;
    background-color: transparent;
    border-radius: 6px;
    padding: .2rem; 
    color: #fff;
    margin-right: 3rem;
}
.email{
    position: relative;
    right: -10rem;
}
label{
    color:  #51eca8;
}
textarea{
    width: 26rem;
    height: 5rem;
    background-color: transparent;
    border: 2px solid  #51eca8;
}
.submit{
    margin-top: 1rem;
    width: 92%;
    padding: .5rem;
    background-color: #51eca8;
    color:rgb(0, 0, 61);
    border: none;
    border-radius: 15px;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color:rgb(27, 27, 43) ;
    color: #fff;
}
i{
    color: #fff;
    font-size: 2rem;
    margin: 1rem;
}